@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 ">Welcome to ASP.NET Core</h2>
    <img src="https://www.rishabhsoft.com/wp-content/uploads/2019/02/ASP.NET-Core-Features.jpg" alt="asp.net" width="900" height="450">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
